<script defer src="track.js"></script>
<div class="uk-container">
  <h3 style="margin: 0px;">{{track.trackname}}</h3>
  <h4 style="margin-top: 5px;">{{track.trackdescription}}</h4>
  <b>Track details:</b>
  <span uk-icon="location"></span><span id="dist-area">{{track.distance}} </span>
  <span uk-icon="clock"></span><span id="time-area">{{track.time}} </span>
  <span uk-icon="arrow-up"></span><span id="asc-area"> - </span>
  <span uk-icon="arrow-down"></span><span id="desc-area"> - </span>
  <a href='#' class='get-gpx-link' data-id="{{track._id}}" style="margin-left: 10px;"> Get GPX</a>
  <a href='#' id='download-link' style="visibility: hidden; margin-left: 10px;"> Download</a>
  <a href="#" id='share-link' style="visibility: hidden;" data-tid="{{track._id}}">Share track</a>
  <div style="height: 400px;" id="mapid2"></div>
  <input class="uk-input" id="trackId" value="{{track._id}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="startPos" value="{{track.start}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="endPos" value="{{track.end}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="startPosH" value="{{track.startH}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="endPosH" value="{{track.endH}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="sLon" value="{{track.s_Lon}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="sLat" value="{{track.s_Lat}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="eLon" value="{{track.e_Lon}}" style="visibility: hidden" size="100" type="text">
  <input class="uk-input" id="eLat" value="{{track.e_Lat}}" style="visibility: hidden" size="100" type="text">
</div>
