<script defer src="track.js"></script>
<div class="uk-container">
  <h3>{{track.trackname}}</h3>
  <div style="height: 400px;" id="mapid2"></div>
  <input class="uk-input" id="trackId" value="{{track._id}}" style="visibility: visible" size="100" type="text">
  <input class="uk-input" id="startPos" value="{{track.start}}" style="visibility: visible" size="100" type="text">
  <input class="uk-input" id="endPos" value="{{track.end}}" style="visibility: visible" size="100" type="text">
  <input class="uk-input" id="sLon" value="{{track.s_Lon}}" style="visibility: visible" size="100" type="text">
  <input class="uk-input" id="sLat" value="{{track.s_Lat}}" style="visibility: visible" size="100" type="text">
</div>
